$border-color: #bec3cf;
$days-color: #8991a2;

body {
	margin: 0;
	font-family: "Helvetica"
}

#app {
	width: 1025px;
	margin: 50px auto;
}

#top-bar {
	height: 70px;
	background: linear-gradient(to bottom, #fff, #e4e6ec);
	position: relative;
}

.button-arrow {
	position: absolute;
	border: 2px solid $border-color;
	border-radius: 10px;
	width: 23px;
	height: 23px;
	top: 20px;
}

.date-title {
	text-align: center;
	line-height: 70px;
	font-weight: 700;
	color: #717f9d;
	font-size: 28px;
}

.button-arrow:first-of-type {
	left: 20px;
}

.button-arrow:last-of-type {
	right: 20px;
}

table {
	border-collapse: collapse;
}

td {
	width: 147px;
	height: 120px;
	border: 1px solid #ccc;
	position: relative;
	vertical-align: top;
}

td.top {
	text-align: center;
	height: 29px;
	font-weight: 700;
	font-size: 12px;
	color: #8991a2;
	background: linear-gradient(to bottom, #dcdee3, #d1d4db);
	vertical-align: middle;
}

td.another-month {
	background: #f7f7f7;
}

.date-num {
	position: absolute;
	right: 10px;
	top: 10px;
	font-weight: 700;
	font-size: 14px;
}

.events-number {
	height: 25px;
	position: absolute;
	left: 0;
	top: 5px;
	padding-left: 7px;
	color: #bbb;
}

td.another-month .date-num {
	color: #9e9e9e;
}

.item {
	height: 23px;
	position: relative;
	background: #7793d0;
	font-size: 12px;
	font-family: "GenevaCY";
	color: #fff;
	border-radius: 5px;
	vertical-align: middle;
	padding-left: 10px;
	div {
		position: absolute;
		top: 4px;
		z-index: 1;
	}
}

.item:before:not(.active),
.item:after:not(.active) {
	content: " ";
	display: block;
	height: 11px;
	width: 100%;
	position: absolute;
	border-radius: 5px;
	left: 0;
	top: 12px;
	background: #728dc5;
}

.item:after:not(.active) {
	height: 5px;
	border-radius: 0px;
}

#tooltip {
	width: 260px;
	border: 1px solid #ccc;
	background: #f7f7f7;
	padding: 10px;
	position: absolute;
	border-radius: 10px;
}

#tooltip textarea {
	min-height: 100px;
	min-width: 260px;
	max-width: 260px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #e8e8e8;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	li {
		margin-left: 0;
	}
}

#tooltip {
	ul {
		margin: 10px auto;
		li {
			margin-bottom: 10px;
			color: #fff;
			position: relative;
			.active {
				background: #198ec8;
			}
			.close {
				position: absolute;
				top: 5px;
				right: 10px;
				z-index: 2;
				font-weight: 700;
				font-size: 11px;
				cursor: pointer;
				opacity: 0.7;
				:hover {
					opacity: 1;
				}
			}
			p {
				color: black;
				display: none;
			}
		}
	}
}

#tooltip li h3.active + p {
	display: block;
}

td ul {
	margin-top: 30px;
	height: 90px;
	overflow: hidden;
	width: 135px;
	margin-left: auto;
	margin-right: auto;
	li {
		margin-bottom: 10px;
	}
}